@page
@model Assi02_PRN221.Pages.Account.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookManagementMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookManagementMember.MemberId" />
            <div class="form-group">
                <label asp-for="BookManagementMember.Password" class="control-label"></label>
                <input asp-for="BookManagementMember.Password" class="form-control" />
                <span asp-validation-for="BookManagementMember.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookManagementMember.Email" class="control-label"></label>
                <input asp-for="BookManagementMember.Email" class="form-control" />
                <span asp-validation-for="BookManagementMember.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookManagementMember.FullName" class="control-label"></label>
                <input asp-for="BookManagementMember.FullName" class="form-control" />
                <span asp-validation-for="BookManagementMember.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookManagementMember.MemberRole" class="control-label"></label>
                <input asp-for="BookManagementMember.MemberRole" class="form-control" />
                <span asp-validation-for="BookManagementMember.MemberRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
